//------------------------------------------
//               Components                |
//------------------------------------------

@mixin shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

// Button Properties
@mixin btn-props($color) {
    background-color: $color;
    border: 3px solid $color;
    cursor: pointer;
    &:active:not(.disabled),
    &:active:not(.loading){
        transform: translate(0, 2px);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    }
    &:hover{
        transform: translate(0, -3px);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.541);
        background-color: darken($color: $color, $amount: 15%);
    }
    @include transition;
}

@mixin input-props{
    font-family: inherit;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
    width: 20rem;
}


//------------------------------------------
//                 Animations              |
//------------------------------------------

@mixin transition($seconds: 300ms, $animation: ease, $type: all) {
    transition: $seconds $animation $type;
}

//------------------------------------------
//                 Layout                  |
//------------------------------------------

@mixin layout {
    max-width: 1280px;
    margin: 0 auto;
    @media all and (max-width: 1900px) { 
        max-width: 1690px;
        margin: 0 auto;
    }
    @media all and (max-width: 1690px) { 
        max-width: 1400px;
        margin: 0 auto;
    }
    @media all and (max-width: 1400px) { 
        max-width: 1280px;
        margin: 0 auto;
    }
    @media all and (max-width: 1280px) { 
        max-width: 980px;
        margin: 0 auto;
    }
    @media all and (max-width: 980px) {  
        max-width: 736px;
        margin: 0 auto;
    }
    @media all and (max-width: 736px) {  
        max-width: 500px;
        margin: 0 auto;
    }
    @media all and (max-width: 480px) { 
        max-width: 300px;
        margin: 0 auto;
     }
}
