/* Typography */

$showcase: 3.5rem;
$heading-h1: 2.5rem;
$heading-h2: 2rem;
$heading-h3: 1.5rem;
$heading-h4: 1.2rem;
$content: 1.2rem;

$extra-bold: 900;
$bold: 700;
$semi-bold: 600;

/* Colors */
$black: #131212;
$black-1: #0C0C0C;

$blue: #3A53D0;
$blue-lt-1: #7BB1FF;

$blue-dr-1: #072650;
$blue-dr-2: #061B37;

$red: #D12828;

$green: #02856F;
$green-lt-1: #07FFC5;

$grey-lt-1: #E1E1E1;
$grey-lt-2: #ebebeb;